<!-- Map -->
<div class="map-wrapper">

  <div id="map" leaflet
       (leafletCenterChange)="onCenterChange($event)"
       (leafletMarkerClusterReady)="tweetLayer.markerClusterReady($event)"
       [leafletCenter]="center"
       [leafletLayersControl]="layersControl"
       [leafletOptions]="options"
       [leafletZoom]="zoom"
       (leafletMapReady)="onMapReady($event)"
       [leafletMarkerClusterOptions]="tweetLayer.getMarkerClusterOptions()"
       (leafletZoomChange)="onZoomChange($event)"
       [leafletMarkerCluster]="[]">

  </div>
</div>
