<div id="tweet-card-wrapper">

  <blockquote class="{{displayBlock}}">
    <div class="block-wrapper">
      <span class="text-block">
        {{tweetText}}
      </span>
      <span class="user-block">
        @{{tweetUser}}
      </span>
    </div>
  </blockquote>

  <ngx-tweet tweetId="{{id}}"></ngx-tweet>
    <table>
      <tr>
        <th>
          Tweet_id
        </th>
        <th>
          wildfire tweet confidence
        </th>
      <tr>
      <tr>
        <td>
          {{id}}
        </td>
        <td>
          {{cnnValue}}
        </td>
      </tr>
    </table>
</div>

